#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

th,
td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid black;
}

.inputName {
  width: 300px;
}

.inputBirthDate {
  width: 100px;
}

.inputIsMarried {
  width: 50px;
}

.inputPhone {
  width: 150px;
}

.inputSalary {
  width: 100px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-container {
  margin-top: 20px;
}
